h2{
    color:blue;
}

body{
    font-family: "Arial";
}

.form-SearchInput {
    text-align: center;
    border-bottom: 1px solid;
    font-size: 15px;
}

.SearchBar {
    border-color: aquamarine;
    margin-bottom: 2.4em;

}

.form-ArticleEntity {
    text-align: center;
    border-bottom: slategrey;
    border-style: dashed;
    margin-bottom: 2.4em;
}

.form-ArticleEntity:hover {
    background: slategrey;
}

.form-ArticleList {
    border-left: black;
    border-right: black;
}




.NJSearchbar{
    width: 80%;
    min-width:200px ;
    text-align: center;
    margin-top: 150px;
    float: left;
}

.NJSearchbar input[type=text]{
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    width: 70%;
    font-size: 17px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid grey;
    outline: none;
}
.NJSearchbar input[type=image]{
    right: 58px;
    position: relative;
    top: 7px;
    width:24px;
    height:24px;
    outline: none;

}


.NJSidebar{
    width: 20%;
    height: 100%;
    background: #FC975E;
    float: right;

}

.NJSortBy{

    background: white;
    margin-top: 100px;
    width: 80%;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid grey;
    position: relative;
    left: 50%;
    transform: translateX(-50%);


    /*float: left;*/

}
#filter_by, #sort_by{
    margin-left: 3%;
    color: black;
}
.checkbox label {
    text-align: left;
    word-break: break-word;
    display: inline-block;
    margin-right: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.checkbox input {
    line-break: anywhere;
    float: right;
    position: absolute;
    margin-left: 40%;
}


.nobullets{
    padding-left: 3%;
    list-style-type: none;
    margin-right: 16px;
    columns: 2;
}
