:root{
    --main-color: #acacff;
    --main-color-dark: #7777bc;
    --secondary-color: #c1c1c1;

    --text-h2: black;

    --sidebar-component-border: grey;
    --sidebar-keyword-hover: #a7a7a7;


    --scrollbar-thump : #152d60;
    --scrollbar : #6e87ec;
}