

.Credentials-Fields{
    padding: 5px;
    width: 100px;
    height: 20px;
}
.FormDiv{
    display: block;
    text-align: center;
}
#LoginForm{
}

.Credentials-Cell{
    align-content: center;
    width: 100%;

}
.Credentials-table{
    display: flex;
    flex-direction: column;
}

.userFeedback-Field{
    font-size: medium;
    color: #9d2500;
    margin: 0px auto;
}
.LoginForm_Input_Wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.Login_Welcome {
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    font-size: 41px;
}

.loginbutton {
    background-color: var(--accept-botton);
    margin: auto;
    margin-top: 10px;
}
.loginbutton:hover {
    background-color: var(--accept-botton-dark);
}


