
.Submit_btn {
    border-radius: 25px;
    background: #4473d8;
    margin: 0px auto;
    padding: 5px;
    width: 80px;
    height: 30px;
}

.Credentials-Fields{
    margin: 0px auto;
    padding: 5px;
    width: 100px;
    height: 20px;
}
.FormDiv{
    display: block;
    text-align: center;
}
#LoginForm{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.Credentials-Cell{
    align-content: center;
    width: 100%;

}
.Credentials-table{
    width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
}

.userFeedback-Field{
    font-size: medium;
    color: #9d2500;
    margin: 0px auto;
}


