:root{
    --main-color: #FC975E;
    --main-color-dark: #a9653d;
    --secondary-color: #c1c1c1;

    --text-h2: black;

    --sidebar-component-border: grey;
    --sidebar-keyword-hover: #a7a7a7;


    --scrollbar-thump : #9d4500;
    --scrollbar : #F5F5F5;
}

.nordjyske_search_button{
    cursor: pointer;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    border: 0;
    margin: auto;
    margin-top: 20px;
}
.nordjyske_search_button img {
    width: 24px;
    padding-left: 10px;
}
.nordjyske_search_button:hover {
    background-color: var(--main-color-dark);
}