#sidebar {
    width: 20%;
    display: inline-block;
    height: auto;
    min-height: 100vh;
    /*position: sticky;

    right: 0;
    top: 0;
    bottom: 0; */
    background: var(--main-color);
}

.sidebar_wrapper {
    margin-bottom: 20px;
}

#relatedSidebar {
    height: 50%;
    overflow-y: auto;
}

.sidebar_component {

    margin: auto;
    margin-top: 20px;
    padding: 7px;

    width: 80%;

    border-radius: 5px;
    border: 1px solid var(--sidebar-component-border);
    background: var(--main-color-dark);

    position: relative;
}

.sidebar_component h2 {
    margin-top: 10px;
    color: var(--text-h2);
}

.sidebar_component p {
}


.checkbox label {
    text-align: left;
    word-break: break-word;
    display: flex;
    justify-content: space-between;

    margin-top: 2px;
    margin-bottom: 5px;
}


.checkbox input {
}


.relatedArtItem {
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 7px;
    display: block;
    background: var(--secondary-color);
}

#relatedSidebar h3 {
    font-size: larger;
    margin: 0px;
}


.keywords p {
    background: var(--secondary-color);
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
}

.keywords p:hover {
    background: var(--sidebar-keyword-hover);
    cursor: default;
}

.sidebar_option_text {
    margin: 0;
}
