

#sidebar{
    width: 20%;
    height: 100%;
    /*
    background: #FC975E;
    */
    right: 0;
    position: fixed;

}
#relatedSidebar{
    height: 50%;
    overflow-y: scroll;
}

.sidebar_component{

    margin: auto;
    margin-top: 20px;
    padding: 5px;

    width: 80%;

    border-radius: 5px;
    border: 1px solid grey;

    position: relative;
    /*float: left;*/
}
.sidebar_component h2{
    margin-top: 10px;
    color: black;
}
.sidebar_component p{
}



.checkbox label {
    text-align: left;
    word-break: break-word;
    display: inline-block;
    margin-right: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}


.checkbox input {
    line-break: anywhere;
    float: right;
    position: absolute;
    margin-left: 40%;
}



#relatedArtItem{
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
}

#relatedSidebar h3{
    margin-left: 5%;
    padding-top: 5%;
    margin-bottom: -7px;
    font-size: larger;
}
#relatedSidebar p{
    margin-left: 5%;
    padding-bottom: 5%;

}


.nobullets{
    padding-left: 3%;
    list-style-type: none;
    margin-right: 16px;
    columns: 2;
}

.keywords p{
    /*float: left;
    padding-left: 2%;
    padding-right: 2%;*/
    display: inline-block;
    border-radius: 10px;
    padding: 3%;
    margin: 2%;
}

.keywords p:hover{
    background: #a7a7a7;
    cursor: default;
}

