.dropdownopen {
    max-height: 400px;
}

.dropdownclosed {
    max-height: 0;
}

.dropdown {
    transition: max-height 0.2s;
    overflow: hidden;
    height: 50px;
}
div#dropdown a {
    display: block;
}